.container {
  margin: 50px 0;
}

.card {
  margin: 0 2% !important;
}

.positif {
  border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}
.sembuh {
  border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}
.meninggal {
  border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}
